<h1>Listing Leads</h1>

<table class="table table-hover">
  <thead>
    <tr id= "cols">
      <th>Name</th>
      <th>Status</th>
      <th>Lead developer</th>
      <th>Note</th>
      <th>Hourly rate</th>
      <th>Deadline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @leads2s.each do |leads2| %>
      <tr>
        <td><%= leads2.name %></td>


        <td>
        <% if(leads2.status.to_i == 1) %>
        Hot Sale
        <% elsif (leads2.status.to_i == 2) %>
        Cold Sale
        <% elsif (leads2.status.to_i == 3) %>
        Complete
        <% elsif (leads2.status.to_i == 4) %>
        In-Development
        <% else %>
        Invalid Input
        <% end %>
        </td>

        <td><%= leads2.lead_developer %></td>
        <td><%= leads2.note %></td>
        <td><%= leads2.hourly_rate %></td>
        <td><%= leads2.deadline %></td>
        <td><%= link_to 'Show', leads2 %></td>
        <td><%= link_to 'Edit', edit_leads2_path(leads2) %></td>
        <td><%= link_to 'Destroy', leads2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_leads2_path %>
