<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leads2.name %>
</p>

<p>
  <strong>Status:</strong>
  <% if(@leads2.status.to_i == 1) %>
  Hot Sale
  <% elsif (@leads2.status.to_i == 2) %>
  Cold Sale
  <% elsif (@leads2.status.to_i == 3) %>
  Complete
  <% elsif (@leads2.status.to_i == 4) %>
  In-Development
  <% else %>
  Invalid Input
  <% end %>
</p>

<p>
  <strong>Lead developer:</strong>
  <%= @leads2.lead_developer %>
</p>

<p>
  <strong>Note:</strong>
  <%= @leads2.note %>
</p>

<p>
  <strong>Hourly rate:</strong>
  <%= @leads2.hourly_rate %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @leads2.deadline %>
</p>

<%= link_to 'Edit', edit_leads2_path(@leads2) %> |
<%= link_to 'Back', leads2s_path %>
